<div class='header'>
  <FaIcon @icon='gear' @size='2x' />
  <h3>Einstellungen</h3>
</div>

{{#if this.isOwner}}
  <div class='content-element flex-column'>
    <label>Name
      <input
        value={{this.model.displayName}}
        {{on 'change' this.changeDisplayName}}
      />
    </label>
  </div>

  <div class='content-element flex-column'>
    <label>Icon
      <input
        value={{this.model.iconName}}
        {{on 'change' this.changeIconName}}
        autocapitalize='none'
      />
    </label>
    <a
      href='https://fontawesome.com/search?m=free&s=solid%2Cbrands'
      target='_blank'
      rel='noopener noreferrer'
    >
      <FaIcon @icon='magnifying-glass' />Nach Icons suchen
    </a>
  </div>

  <div class='content-element'>
    <label>Checkboxen verwenden</label>
    <label class='switch' aria-label='Mengen verwenden'>
      <input
        type='checkbox'
        checked={{@model.usesCheck}}
        {{on 'change' this.toggleUsesCheck}}
      />
      <span class='slider round'></span>
    </label>
  </div>

  <div class='content-element'>
    <label>Mengen verwenden</label>
    <label class='switch' aria-label='Mengen verwenden'>
      <input
        type='checkbox'
        checked={{@model.hasAmounts}}
        {{on 'change' this.toggleHasAmounts}}
      />
      <span class='slider round'></span>
    </label>
  </div>

  <div class='content-element'>
    <label>Entfernen bestätigen</label>
    <label class='switch' aria-label='Mengen verwenden'>
      <input
        type='checkbox'
        checked={{@model.usesConfirmDelete}}
        {{on 'change' this.toggleUsesConfirmDelete}}
      />
      <span class='slider round'></span>
    </label>
  </div>
{{/if}}

<div class='content-element flex-column'>
  <label class='full-width'>Mitglieder</label>
  <div class='tag-container full-width'>
    <button type='button' class='tag dark' disabled={{true}}>
      <p>{{@model.owner.displayName}}</p>
      <FaIcon @icon='crown' />
    </button>
    {{#each this.members as |member|}}
      <button
        type='button'
        class='tag dark'
        {{!-- disabled={{if this.isOwner false true}} --}}
        disabled={{true}}
        aria-label='{{member.displayName}} von Liste entfernen'
      >
        <p>{{member.displayName}}</p>
        {{!-- {{#if this.isOwner}}
          <FaIcon @icon='times' />
        {{/if}} --}}
      </button>
    {{/each}}
    {{#if this.isOwner}}
      <button type='button' class='tag dark'>
        <FaIcon
          @icon='user-plus'
          aria-label='Mitglied hinzufügen'
          {{on 'click' this.invite}}
        />
      </button>
    {{/if}}
  </div>
</div>

<Common::Separator @hidden='true' />

{{#if this.isOwner}}
  <Common::ButtonLarge
    @icon='trash'
    @text='Liste löschen'
    @onClick={{this.delete}}
  />
{{else}}
  <Common::ButtonLarge
    @icon='right-from-bracket'
    @text='Liste verlassen'
    @onClick={{this.leave}}
  />
{{/if}}
<Common::ButtonLarge
  @icon='caret-left'
  @text='Zurück zur Liste'
  @onClick={{this.goToList}}
/>