<div
  class='list-entry {{if (or @entry.isChecked @disabled) "list-entry-checked"}}'
>
  {{#if @showLoadingIndicator}}
    <Common::LoadingIndicator />
  {{/if}}
  {{#if @showCheckBox}}
    <button
      class='list-entry-button'
      type='button'
      disabled={{@disabled}}
      {{on 'click' this.toggleChecked}}
    >
      <FaIcon
        @icon='{{if @entry.isChecked "square-check" "square"}}'
        @size='3x'
        @prefix='far'
      />
    </button>
  {{/if}}
  {{#if @showDelete}}
    <button
      class='list-entry-button'
      type='button'
      disabled={{@disabled}}
      {{on 'click' this.handleDeleteClick}}
    >
      <FaIcon @icon='xmark' @size='3x' />
    </button>
  {{/if}}
  {{#if @showAmountInput}}
    <input
      aria-label='Menge von Eintrag {{@entry.text}}'
      class='list-entry-amount-input'
      type='text'
      inputmode='numeric'
      value={{this.amount}}
      min={{1}}
      max={{99}}
      minlength={{1}}
      maxlength={{2}}
      disabled={{@disabled}}
      {{on 'focus' this.handleAmountFocus}}
      {{on 'change' this.handleAmountChange}}
    />
  {{/if}}
  <p>{{@entry.text}}</p>
</div>