<div class="list-entry {{if @entry.isChecked 'list-entry-checked'}}">
  <button class="list-entry-button" type="button" {{on 'click' this.toggleChecked}}>
    <FaIcon @icon="{{if @entry.isChecked 'square-check' 'square'}}" @size="3x" @prefix="far" />
  </button>
  <button class="list-entry-button" type="button" {{on 'click' this.delete}}>
    <FaIcon @icon="xmark" @size="3x" />
  </button>
  <p>{{@entry.text}}</p>
</div>