<div class='list-entries-container'>
  {{#each this.entries as |entry|}}
    <List::Entry
      @entry={{entry}}
      @showCheckBox={{@list.usesCheck}}
      @showDelete={{true}}
      @showAmountInput={{@list.hasAmounts}}
      @usesConfirmDelete={{@list.usesConfirmDelete}}
    />
  {{/each}}
  {{#each this.unpersistedEntries as |entry|}}
    <List::Entry
      @entry={{entry}}
      @disabled={{true}}
      @showLoadingIndicator={{true}}
    />
  {{/each}}
  <Common::ButtonLarge
    @text='Listeneinstellungen'
    @icon='gear'
    @onClick={{this.goToSettings}}
  />
</div>