<button
  type='button'
  class='button-selectable {{if this.selected "dark" "dark-inverse"}}'
  aria-valuenow={{this.selected}}
  {{on 'click' this.handleClick}}
>
  <p>{{@text}}</p>
  {{#if @showCheckbox}}
    <FaIcon
      @icon={{if this.selected 'square-check' 'square'}}
      @size='2x'
      @prefix='far'
    />
  {{/if}}
</button>