{{page-title 'Einstellungen'}}

<div class='header'>
  <FaIcon @icon='user' @size='2x' />
  <h3>Benutzerkonto</h3>
</div>

<div class='vBoxItem hBox'>
  {{#each this.model.designs as |design|}}
    <button
      id='designButton{{design.name}}'
      type='button'
      class='designBGButton bgButton{{design.buttonPosition}}
        designThumbnail{{design.name}}'
      {{on 'click' (fn this.onDesignChange design.value)}}
    ></button>
  {{/each}}
</div>

<div class='content-element flex-column'>
  <label>Anzeigename
    <Input
      @type='text'
      @value={{this.displayName}}
      minlength='1'
      maxlength='30'
      {{on 'change' this.changeDisplayName}}
    />
  </label>
</div>

<div class='content-element flex-column'>
  <label>Passwort
    <Input
      @type='password'
      @value={{this.password}}
      placeholder='●●●●●●●●'
      minlength='1'
      maxlength='255'
      {{on 'change' this.changePassword}}
    />
  </label>
  <div class='flex flex-row justify-between'>
    <div
      class='h-box-item password-sec-level-bar {{this.secBarOneHighlighted}}'
    ></div>
    <div
      class='h-box-item password-sec-level-bar {{this.secBarTwoHighlighted}}'
    ></div>
    <div
      class='h-box-item password-sec-level-bar {{this.secBarThreeHighlighted}}'
    ></div>
    <div
      class='h-box-item password-sec-level-bar {{this.secBarFourHighlighted}}'
    ></div>
  </div>
</div>