{{page-title "Doleo"}}
<div id="branding-bar" />
<div id="header">
  <Common::ButtonSmall @icon={{if this.sidenavExpanded 'chevron-left' 'bars' }} @design="dark-inverse"
    @onClick={{this.toggleSidenav}} />
  <h2>Doleo</h2>
  <Common::ButtonSmall @icon="arrow-right-from-bracket" @design="dark-inverse" @onClick={{this.logout}} />
</div>

<div id="content" class="content">
  {{outlet}}
</div>

<div id="sidenav">
  <Sidenav::SidenavButton @icon="house" @text="Home" @onClick={{fn this.goToPage "" }} />
  <Sidenav::SidenavButton @icon="gear" @text="Einstellungen" @onClick={{fn this.goToPage "settings" }} />
  <Sidenav::SidenavSeparator />
  <Sidenav::SidenavCollapsible @text="Listen">
    {{#each @model.lists as |list|}}
    <Sidenav::SidenavButton @icon={{list.iconName}} @text={{list.displayName}} @onClick={{fn this.goToList list.id }} />
    {{/each}}
    <Sidenav::SidenavButton @icon="plus" @text="Neue Liste" @onClick={{fn this.goToPage "create-list" }} />
  </Sidenav::SidenavCollapsible>
  <Sidenav::SidenavSeparator />
  <Sidenav::SidenavButton @icon="heart" @text="Anstupsen" @onClick={{fn this.goToPage "settings" }} />
  <NotificationContainer @position="bottom" @zindex="9999" />
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    {{#if this.activeModalName}}
    {{component (concat 'modal/' this.activeModalName) options=this.activeModalOptions }}
    {{/if}}
  </div>
</div>