<div id='header'>
  <Common::ButtonSmall
    @icon={{if this.sidenavExpanded 'chevron-left' 'bars'}}
    @design='dark-inverse'
    @onClick={{this.toggleSidenav}}
  />
  <h2>Doleo</h2>
  <Common::ButtonSmall
    @icon='arrow-right-from-bracket'
    @design='dark-inverse'
    @onClick={{this.logout}}
  />
</div>

<div id='sidenav'>
  <Sidenav::SidenavButton
    @icon='house'
    @text='Home'
    @onClick={{fn this.goToPage '/'}}
  />
  <Sidenav::SidenavButton
    @icon='user'
    @text='Benutzerkonto'
    @onClick={{fn this.goToPage '/settings'}}
  />
  <Sidenav::SidenavSeparator />
  <Sidenav::SidenavCollapsible @text='Listen'>
    {{#each @model.lists as |list|}}
      <Sidenav::SidenavButton
        @icon={{list.iconName}}
        @text={{list.displayName}}
        @onClick={{fn this.goToList list.id}}
      />
    {{/each}}
    <Sidenav::SidenavButton
      @icon='plus'
      @text='Neue Liste'
      @onClick={{fn this.goToPage '/create-list'}}
    />
  </Sidenav::SidenavCollapsible>
  <Sidenav::SidenavSeparator />
  <Sidenav::SidenavButton
    @icon='heart'
    @text='Anstupsen'
    @onClick={{fn this.goToPage '/pings'}}
  />
</div>

{{outlet}}