<div id='header'>
  <Common::ButtonSmall
    @icon={{if this.sidenavExpanded 'chevron-left' 'bars'}}
    @design='dark-inverse'
    @onClick={{this.toggleSidenav}}
  />
  <h2>Doleo</h2>
  <div class='flex align-items-center justify-content-end'>
    <FaIcon
      id='sync-indicator'
      @icon='cloud-arrow-up'
      @size='2x'
      class='dark-inverse slow-pulse
        {{if this.hasUnsyncedChanges "opacity-100" "opacity-0"}}'
    />
    <Common::ButtonSmall
      @icon='rotate-right'
      @design='dark-inverse'
      @onClick={{this.synchronize}}
    />
  </div>
</div>

<div id='sidenav'>
  <Sidenav::SidenavButton
    @icon='house'
    @text='Home'
    @onClick={{fn this.goToPage '/'}}
  />
  <Sidenav::SidenavButton
    @icon='user'
    @text='Benutzerkonto'
    @onClick={{fn this.goToPage '/account'}}
  />
  <Sidenav::SidenavSeparator />
  {{#each @model.lists as |list|}}
    <Sidenav::SidenavButton
      @icon={{list.iconName}}
      @text={{list.displayName}}
      @onClick={{fn this.goToList list.id}}
    />
  {{/each}}
  <Sidenav::SidenavButton
    @icon='plus'
    @text='Neue Liste'
    @onClick={{fn this.goToPage '/create-list'}}
  />
  <Sidenav::SidenavSeparator />
  <Sidenav::SidenavButton
    @icon='arrow-right-from-bracket'
    @text='Abmelden'
    @onClick={{this.logout}}
  />
</div>

{{outlet}}